*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    /*font-family:Georgia, 'Times New Roman', Times, serif*/
}
@keyframes animation {
    50%{transform: scale(1.3, 1.3) }
}
@font-face{
font-family: pOne;
src:url(font/PoetsenOne.ttf);
}

body{
    min-height:100vh;
    background-color:#deb887;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color:#a52a2a;
    text-decoration: none;
    font-weight: 700;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.search-bar {
    width: 34rem;
    min-width: 5rem;
    height: 1.5rem;
}
.search-box button {
    width: 3rem;
    height: 1.5rem;
}

.navbar{
font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar a {
    position:relative;
    font-size: 18px;
    font-weight: 500;
    text-decoration:none;
    color:rgb(0, 0, 0);
    margin-left: 40px;
}

.navbar a::before {
    content:'';
    position:absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    transition-duration: .3s;
}

.navbar a:hover::before {
    width: 100%;

}

.cart-container{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fa-cart-shopping {
    color: rgb(0, 0, 0);
    font-size: 2rem;
}
.fa-cart-shopping:hover {
    animation-name: animation;
    animation-duration: 0.5s;
}

.cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0 6px;
    font-size: 1rem;
    margin-left: 5px;
}


.cart-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 3rem;
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-height: 400px;
    overflow-y: auto;
}

.cart-dropdown h2 {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

#cart-items {
    list-style: none;
    padding: 10px;
}

#cart-items li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#cart-items img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cart-summary {
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

#purchaseBtn{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

#purchaseBtn:hover {
    background-color: #218838;
}

.login{
    position: absolute;
    top: 4.7rem;
    right: 0;
}
.login button {
    width: 7rem;
    height: 2.5rem;
    background-color: lightgray;
    font-size: 1.5rem;
    border-style: 1px solid;
    border-radius: 8px;
    transition: background-color 0.5s;
}
.login button:hover {
    background-color: rgb(38, 0, 252);
    color: #f4f4f4;
}
.login-prompt{
    position: absolute;
    display: none;
    left: 40%;
    top:50vh;
    width: 400px;
    height: 400px;
    background-color: white;
    height: 10rem;
    z-index: 2;
    border-style: solid;
    border-radius: 10px;
}

#loginPrompt input:nth-child(1){
    position: absolute;
    top: 1rem;
    left: 90px; 
    width: 200px; 
    border-style: solid;
    border-color: black;
    
}

#loginPrompt input:nth-child(2){
    position: absolute;
    top: 3rem;
    left: 90px; 
    width: 200px;   
    border-style: solid;
    border-color: black;
}

.loginBtn{
    position: absolute;
    bottom: 2rem;
    left: 50px;
    width: 100px;
    font-size: larger;
    border-color: black;
    border-radius: 10%;
    background-color: lightblue;
    cursor: pointer;
}

.loginCancelBtn {
    position: absolute;
    bottom: 2rem;
    left: 220px;
    width: 100px;
    font-size: larger;
    border-color: black;
    border-radius: 10%;
    background-color: lightblue;
    cursor: pointer;
}

.register{
    position: absolute;
    top: 4.7rem;
    right: 7rem;
}

.register button {
    width: 7rem;
    height: 2.5rem;
    background-color: lightgray;
    font-size: 1.5rem;
    border-style: 1px solid;
    border-radius: 8px;
    transition: background-color 0.4s
}
.register button:hover{
    background-color: #a52a2a;
    color:#ddd
}

#registerPrompt {
    position: absolute;
    display: none;
    left: 29%;
    top:39vh;
    background-color: white;
    height: 12rem;
    width: 40rem;
    z-index: 2;
    border-style: solid;
    border-radius: 10px;
    padding: 1rem;
}

#registerPrompt input:nth-child(1){
    position: absolute;
    top: 1.5rem;
    left: 72px;    
    border-style: solid;
    border-color: black;
    font-size:1rem;
    height: 2rem;
}
#registerPrompt input:nth-child(2){
    position: absolute;
    top: 4.3rem;
    left: 72px;     
    border-style: solid;
    border-color: black;
    font-size:1rem;
    height: 2rem;
}
#registerPrompt input:nth-child(3){
    position: absolute;
    top: 7rem;
    left: 72px;     
    border-style: solid;
    border-color: black;
    font-size:1rem;
    height: 2rem;
}

.reg-lbl{
    position: absolute;
    font-size: 32px;
    color:#a52a2a;
    text-decoration: none;
    font-weight: 700;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    top: 2rem;
    left: 22.5rem;
}

.reg-btn{
    position:absolute;
    top: 8.2rem;
    left: 20rem;
    border-style: solid;
    border-color: black;
    font-size: larger;
}

.reg-cancel-btn{
    position:absolute;
    top: 8.2rem;
    left: 25rem;
    border-style: solid;
    border-color: black;
    font-size: larger;
}
/* Home */
#Home{
    top:12.9rem;
    left: 31rem;
    position:relative;
    display:flex;
    color:#a52a2a;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:oblique;
    font-weight: 500;
    font-size: large;
    border-style: inset;
    border-radius: 10px;
    border-color:bisque;
    width: 35rem;
}

#hSpan {
    color: black;
}

/* food list */
#food{
    position:relative;
    display:inline-block;
    justify-content:space-evenly;
    top:18.75rem;
    right:28.125rem;
}

#basoy {
    position: absolute; 
    width: 23.75rem;
    height: 18.75rem;
    left:25.25rem;
}

#basoy a {
    color:black
}

#basoy h1{
    position:absolute; 
    top:-2.4rem;
    margin-left: 6.25rem;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#basoy img{
    position: absolute; 
    width: 23.75rem;
    left:6.25rem;
    border-style:outset;
    border-color:rgb(255, 145, 0);
    
}

#basoy p{
    position: absolute;
    top:15.9375rem;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;

}

#basoy ul  {
    position:relative;
    display:inline-block;
    top: 20.625rem;
    left: 6.25rem;
    width: 23.75rem;
}

#basoy ul li{
    background-color: white;
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#basoy button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#basoy button:hover {
    background-color: aqua;
    color:black;
}
/* item description */
#basoy #basoyDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#basoy #basoyDesc p{
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#basoy:hover #basoyDesc {
    display: block;
}

#lechon{
    position:absolute; 
    width: 23.75rem;
    height: 18.75rem;
    left: 58.5rem;
}

#lechon a{
    color: black;
}

#lechon h1{
    position:absolute; 
    left:6.25rem;
    top:-2.5rem;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#lechon img{
    position: absolute; 
    width: 23.75rem;
    left:6.25rem;
    border-style:outset;
    border-color:rgb(255, 145, 0);
}

#lechon p{
    position:absolute; 
    top:15.9375rem;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;
}

#lechon ul  {
    position:relative;
    display:inline-block;
    top: 460px;
    left: 6.25rem;
    width: 23.75rem;
}

#lechon ul li{
    background-color: white;
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#lechon button {
    position: absolute;
    left:15.5rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#lechon button:hover {
    background-color: aqua; 
    color:black;
}
/* item description */
#lechon #lechonDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#lechon #lechonDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#lechon:hover #lechonDesc {
    display:block;
}

#menudo {
    position:absolute; 
    width: 23.75rem;
    height: 300px;
    left:91.75rem;

}

#menudo a {
    color:black;
}

#menudo h1 {
    position:absolute; 
    left:100px;
    top:-40px;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#menudo img {
    position: absolute; 
    width: 23.75rem;
    height: 260px;
    left:6.25rem;
    top:-0px;
    border-style:outset;
    border-color:rgb(255, 145, 0);
}

#menudo p {
    position:absolute; 
    top:255px;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;
}

#menudo ul  {
    position:relative;
    display:inline-block;
    top: 325px;
    left: 6.25rem;
    width: 23.75rem;
}

#menudo ul li{
    background-color: rgb(255, 255, 255);
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#menudo button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}
/* item description */

#menudo button:hover {
    background-color: aqua;
    color: black;
}
/* item description */
#menudo #menudoDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#menudo #menudoDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#menudo:hover #menudoDesc {
    display:block;
}



#kareKare {
    position:absolute; 
    width: 23.75rem;
    height: 300px;
    left:25.25rem;
    top: 25rem;

}

#kareKare a {
    color:black;
}

#kareKare h1 {
    position:absolute; 
    left:100px;
    top:-40px;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#kareKare img {
    position: absolute; 
    width: 23.75rem;
    height: 260px;
    left:6.25rem;
    top:-0px;
    border-style:outset;
    border-color:rgb(255, 145, 0);
}

#kareKare p {
    position:absolute; 
    top:255px;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;
}

#kareKare ul  {
    position:relative;
    display:inline-block;
    top: 325px;
    left: 6.25rem;
    width: 23.75rem;
}

#kareKare ul li{
    background-color: rgb(255, 255, 255);
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#kareKare button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#kareKare button:hover {
    background-color: aqua;
    color: black;
}
/* item description */
#kareKare #kareKareDesc {
   left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#kareKare #kareKareDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}

#kareKare:hover #kareKareDesc {
    display:block;
}

#dinuguan {
    position:absolute; 
    width: 23.75rem;
    height: 300px;
    left: 58.5rem;
    top: 25rem;

}

#dinuguan a {
    color:black;
}

#dinuguan h1 {
    position:absolute; 
    left:100px;
    top:-40px;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#dinuguan img {
    position: absolute; 
    width: 23.75rem;
    height: 260px;
    left:6.25rem;
    top:-0px;
    border-style:outset;
    border-color:rgb(255, 145, 0);
}

#dinuguan p {
    position:absolute; 
    top:255px;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;
}

#dinuguan ul  {
    position:relative;
    display:inline-block;
    top: 325px;
    left: 6.25rem;
    width: 23.75rem;
}

#dinuguan ul li{
    background-color: rgb(255, 255, 255);
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#dinuguan button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#dinuguan button:hover {
    background-color: aqua;
    color: black;
}
/* item description */
#dinuguan #dinuguanDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}

#dinuguan #dinuguanDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}

#dinuguan:hover #dinuguanDesc {
    display:block;
}

#pancitBihon{
    position:absolute; 
    width: 23.75rem;
    height: 18.75rem;
    left:91.75rem;
    top: 25rem;
}

#pancitBihon a{
    color: black;
}

#pancitBihon h1{
    position:absolute; 
    left:6.25rem;
    top:-2.5rem;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#pancitBihon img{
    position: absolute; 
    width: 23.75rem;
    left:6.25rem;
    border-style:outset;
    border-color:rgb(255, 145, 0);
}

#pancitBihon p{
    position:absolute; 
    top:15.9375rem;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;
}

#pancitBihon ul  {
    position:relative;
    display:inline-block;
    top: 460px;
    left: 6.25rem;
    width: 23.75rem;
}

#pancitBihon ul li{
    background-color: white;
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#pancitBihon button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#pancitBihon button:hover {
    background-color: aqua; 
    color:black;
}
/* item description */
#pancitBihon #pancitBihonDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#pancitBihon #pancitBihonDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#pancitBihon:hover #pancitBihonDesc {
    display:block;
}

#sinigangSalmon {
    position:absolute; 
    width: 23.75rem;
    height: 300px;
    left:25.25rem;
    top: 50rem;

}

#sinigangSalmon a {
    color:black;
}

#sinigangSalmon h1 {
    position:absolute; 
    left:100px;
    top:-40px;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
    font-size: 1.75rem;
}

#sinigangSalmon img {
    position: absolute; 
    width: 23.75rem;
    height: 260px;
    left:6.25rem;
    top:-0px;
    border-style:outset;
    border-color:rgb(255, 145, 0);
}

#sinigangSalmon p {
    position:absolute; 
    top:255px;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;
}

#sinigangSalmon ul  {
    position:relative;
    display:inline-block;
    top: 325px;
    left: 6.25rem;
    width: 23.75rem;
}

#sinigangSalmon ul li{
    background-color: rgb(255, 255, 255);
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#sinigangSalmon button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#sinigangSalmon button:hover {
    background-color: aqua;
    color: black;
}
/* item description */
#sinigangSalmon #sinigangSalmonDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#sinigangSalmon #sinigangSalmonDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#sinigangSalmon:hover #sinigangSalmonDesc {
    display:block;
}

#porkAdobo {
    position:absolute; 
    width: 23.75rem;
    height: 300px;
    left: 58.5rem;
    top: 50rem;

}

#porkAdobo a {
    color:black;
}

#porkAdobo h1 {
    position:absolute; 
    left:100px;
    top:-40px;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#porkAdobo img {
    position: absolute; 
    width: 23.75rem;
    height: 260px;
    left:6.25rem;
    top:-0px;
    border-style:outset;
    border-color:rgb(255, 145, 0);
}

#porkAdobo p {
    position:absolute; 
    top:255px;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;
}

#porkAdobo ul  {
    position:relative;
    display:inline-block;
    top: 325px;
    left: 6.25rem;
    width: 23.75rem;
}

#porkAdobo ul li{
    background-color: rgb(255, 255, 255);
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#porkAdobo button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#porkAdobo button:hover {
    background-color: aqua;
    color: black;
}
/* item description */
#porkAdobo #porkAdoboDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#porkAdobo #porkAdoboDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#porkAdobo:hover #porkAdoboDesc {
    display:block;
}

#sisig{
    position:absolute; 
    width: 23.75rem;
    left:91.75rem;
    top: 50rem;
}

#sisig a{
    color: black;
}

#sisig h1{
    position:absolute; 
    left:6.25rem;
    top:-2.5rem;
    width: 23.75rem;
    height: 19rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#sisig img{
    position: absolute; 
    width: 23.75rem;
    left:6.25rem;
    border-style:outset;
    border-color:rgb(255, 145, 0);
}

#sisig p{
    position:absolute; 
    top:15.9375rem;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;
}

#sisig ul  {
    position:relative;
    display:inline-block;
    top: 460px;
    left: 6.25rem;
    width: 23.75rem;
}

#sisig ul li{
    background-color: white;
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#sisig button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#sisig button:hover {
    background-color: aqua; 
    color:black;
}
/* item description */
#sisig #sisigDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#sisig #sisigDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#sisig:hover #sisigDesc {
    display:block;
}

#palabok {
    position:absolute; 
    width: 23.75rem;
    height: 300px;
    left:25.25rem;
    top: 75rem;

}

#palabok a {
    color:black;
}

#palabok h1 {
    position:absolute; 
    left:100px;
    top:-40px;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
    font-size: 1.75rem;
}

#palabok img {
    position: absolute; 
    width: 23.75rem;
    height: 260px;
    left:6.25rem;
    top:-0px;
    border-style:outset;
    border-color:rgb(255, 145, 0);
}

#palabok p {
    position:absolute; 
    top:255px;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;
}

#palabok ul  {
    position:relative;
    display:inline-block;
    top: 325px;
    left: 6.25rem;
    width: 23.75rem;
}

#palabok ul li{
    background-color: rgb(255, 255, 255);
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#palabok button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#palabok button:hover {
    background-color: aqua;
    color: black;
}
/* item description */
#palabok #palabokDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#palabok #palabokDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#palabok:hover #palabokDesc {
    display:block;
}

#shanghai {
    position:absolute; 
    width: 23.75rem;
    height: 300px;
    left: 58.5rem;
    top: 75rem;

}

#shanghai a {
    color:black;
}

#shanghai h1 {
    position:absolute; 
    left:100px;
    top:-40px;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#shanghai img {
    position: absolute; 
    width: 23.75rem;
    height: 260px;
    left:6.25rem;
    top:-0px;
    border-style:outset;
    border-color:rgb(255, 145, 0);
}

#shanghai p {
    position:absolute; 
    top:255px;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;
}

#shanghai ul  {
    position:relative;
    display:inline-block;
    top: 325px;
    left: 6.25rem;
    width: 23.75rem;
}

#shanghai ul li{
    background-color: rgb(255, 255, 255);
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#shanghai button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#shanghai button:hover {
    background-color: aqua;
    color: black;
}
/* item description */
#shanghai #shanghaiDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#shanghai #shanghaiDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#shanghai:hover #shanghaiDesc {
    display:block;
}

#friedSiken{
    position:absolute; 
    width: 23.75rem;
    left:91.75rem;
    top: 75rem;
}

#friedSiken a{
    color: black;
}

#friedSiken h1{
    position:absolute; 
    left:6.25rem;
    top:-2.5rem;
    width: 23.75rem;
    height: 19rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#friedSiken img{
    position: absolute; 
    width: 23.75rem;
    left:6.25rem;
    border-style:outset;
    border-color:rgb(255, 145, 0);
}

#friedSiken p{
    position:absolute; 
    top:15.9375rem;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;
}

#friedSiken ul  {
    position:relative;
    display:inline-block;
    top: 460px;
    left: 6.25rem;
    width: 23.75rem;
}

#friedSiken ul li{
    background-color: white;
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#friedSiken button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#friedSiken button:hover {
    background-color: aqua; 
    color:black;
}
/* item description */
#friedSiken #friedSikenDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#friedSiken #friedSikenDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#friedSiken:hover #friedSikenDesc {
    display:block;
}

#pares {
    position:absolute; 
    width: 23.75rem;
    height: 300px;
    left: 58.5rem;
    top: 100rem;

}

#pares a {
    color:black;
}

#pares h1 {
    position:absolute; 
    left:100px;
    top:-40px;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(182, 146, 29);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#pares img {
    position: absolute; 
    width: 23.75rem;
    height: 260px;
    left:6.25rem;
    top:-0px;
    border-style:outset;
    border-color:rgb(255, 145, 0);
}

#pares p {
    position:absolute; 
    top:255px;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(255, 145, 0, 0.685);
    font-size: larger;
}

#pares ul  {
    position:relative;
    display:inline-block;
    top: 325px;
    left: 6.25rem;
    width: 23.75rem;
}

#pares ul li{
    background-color: rgb(255, 255, 255);
    border-style: inset;
    border-color: rgb(202, 160, 43);
    font-size: large;
}

#pares button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#pares button:hover {
    background-color: aqua;
    color: black;
}
/* item description */
#pares #paresDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#pares #paresDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#pares:hover #paresDesc {
    display:block;
}

#bSeller {
    position: relative;
    top: 145rem;
    left:32rem;
    width: 500px;
    height: 50px;
    background-color: #ffffff63;
    text-align: center;
    border-style: solid;
    border-radius: 8px;
    font-family: 'pOne', sans-serif;
    text-shadow: #78a6e2 -5px 5px 5px;
    box-shadow: #218838 -5px 5px 5px;
}
#bSeller h1 {
    font-weight: 900;
    font-style: oblique;
    color:rgb(0, 0, 0);
    border-style: solid;
}

#best-seller {
    position:absolute;
    display:inline-block;
    top:160rem;
    left: 0;
}
#pusitSisig {
    position: relative;
    width: 30%;
    height: 100%;
    left: -30px;
    top: 39px;
}

#pusitSisig a {
    color:black;
}

#pusitSisig h1 {
    position:absolute; 
    left:100px;
    top:-40px;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(0, 0, 0);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#pusitSisig img {
    position: absolute; 
    width: 23.75rem;
    height: 260px;
    left:6.25rem;
    top:-0px;
    border-style:outset;
    border-color:rgb(0, 0, 0);
}

#pusitSisig p {
    position:absolute; 
    top:255px;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(0, 0, 0, 0.685);
    font-size: larger;
}

#pusitSisig button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    width: 100px;
    height: 1.3rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#pusitSisig button:hover {
    background-color: aqua;
    color: black;
}
/* item description */
#pusitSisig #pusitSisigDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#pusitSisig #pusitSisigDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#pusitSisig:hover #pusitSisigDesc {
    display:block;
}

#relyenongBangus {
    position: absolute;
    width: 30%;
    height: 100%;
    left: 30.5rem;
    top: 2.5rem;
}

#relyenongBangus a {
    color:black;
}

#relyenongBangus h1 {
    position:absolute; 
    left:100px;
    top:-40px;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(0, 0, 0);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#relyenongBangus img {
    position: absolute; 
    width: 23.75rem;
    height: 260px;
    left:6.25rem;
    top:-0px;
    border-style:outset;
    border-color:rgb(0, 0, 0);
}

#relyenongBangus p {
    position:absolute; 
    top:255px;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(0, 0, 0, 0.685);
    font-size: larger;
}

#relyenongBangus button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    width: 100px;
    height: 1.3rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#relyenongBangus button:hover {
    background-color: aqua;
    color: black;
}
/* item description */
#relyenongBangus #relyenongBangusDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#relyenongBangus #relyenongBangusDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#relyenongBangus:hover #relyenongBangusDesc {
    display:block;
}


#bulalo {
    position: absolute;
    width: 30%;
    height: 100%;
    left: 63.5rem;
    top: 2.5rem;
}

#bulalo a {
    color:black;
}

#bulalo h1 {
    position:absolute; 
    left:100px;
    top:-40px;
    width: 23.75rem;
    text-align: center;
    border-style:outset solid;
    border-color: rgb(0, 0, 0);
    background:linear-gradient(white, rgb(252, 212, 212)) ;
    font-family: 'pOne';
}

#bulalo img {
    position: absolute; 
    width: 23.75rem;
    height: 260px;
    left:6.25rem;
    top:-0px;
    border-style:outset;
    border-color:rgb(0, 0, 0);
}

#bulalo p {
    position:absolute; 
    top:255px;
    left:6.25rem;
    width:23.75rem;
    background-color: white;
    border-style:outset;
    border-color:rgba(0, 0, 0, 0.685);
    font-size: larger;
}

#bulalo button {
    position: absolute;
    left:15rem;
    top: 16.2rem;
    width: 100px;
    height: 1.3rem;
    border-radius: 8%;
    background-color: rgb(99, 42, 165);
    color: white;
    transition: background-color 0.5s;
    font-family: 'pOne', sans-serif;
}

#bulalo button:hover {
    background-color: aqua;
    color: black;
}
/* item description */
#bulalo #bulaloDesc {
    left: 6.5rem;
    display: none;
    position:relative;
    background-color: rgba(139, 69, 19, 0.322);
    width: 23.4rem;
    height: 16rem;
    z-index: 2;
    border-radius: 8px;
    animation-name: animation;
    animation-duration: 0.5s;
}
#bulalo #bulaloDesc p {
    position:absolute; 
    top: 0;
    left:auto;
    background-color: transparent;
    border-style: none;
    width: 100%;
    color:rgb(255, 255, 255);
    font-style: italic;
    font-weight: 900;
}
#bulalo:hover #bulaloDesc {
    display:block;
}


#about {
    position:relative;
    display:inline-block;
    top:175rem;
    left: 0px;
    width: 100%;
}

#about h1 {
    text-align: center;
    background-color: #ffffff;
    border-style:ridge;
    border-radius: 10px;
    font-family: 'pOne', 'consolas', sans-serif;
}

#about p {
    font-size: 25px;
    background-color: #ffffff;
    border-style:groove;
    border-radius: 10px;
    border-color: antiquewhite;
    font-family: 'pOne', 'consolas', sans-serif;
    color:#8a2c2c;
    text-align: center;
}

#ct {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(33, 48, 0);
    top: 175rem;
    gap: 10px;
    width: 100%;
   
}

#ct #fb img {
    width: 2rem; 
}

#ct #insta img {
    width: 2rem; 
}

#ct #gmail img {
    width: 2rem; 
}

#ct #contact {
    position:relative;
    left: 0rem;
    margin-left: 50px;
    width:fit-content;
    background-color: black;
    font-weight: 500px;
    font-style: bold;
    font-size: 1rem;
    font-family: 'pOne', sans-serif;
}
#ct #contact p:nth-child(1){
    color: rgb(0, 0, 0) ;
    background-color: white;
    
}

#ct #contact p:nth-child(2){
    color: rgb(0, 0, 0) ;
   background-color: white;
}

@media screen and (max-width:600px){
        #home, #sintro, header, footer, #food, #basoy, #lechon, #menudo{
            width: 100%;
        }
}
